{% extends 'base.html.twig' %}

{% block stylesheets %}
    {#{{ parent() }}#}
    <!-- vendors css -->
    {{ encore_entry_link_tags('vendors') }}

    <!-- custom css -->
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {#{{ parent() }}#}
    <!--vendors js-->
    <script src="{{ asset('build/manifest.js') }}"></script>
    {{ encore_entry_script_tags('vendors') }}

    <!-- here you link to the specific JS files needed by the current page -->
    {{ encore_entry_script_tags('index') }}

{% endblock %}
