{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- vendors css -->
    <link rel="stylesheet" href="{{ asset('build/vendors.css') }}"/>

    <!-- custom css -->
    <link rel="stylesheet" href="{{ asset('build/index.css') }}">
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {#{{ parent() }}#}

    <!--vendors js-->
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendors.js') }}"></script>

    <!-- here you link to the specific JS files needed by the current page -->
    <script src="{{ asset('build/index.js') }}"></script>

{% endblock %}
